# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=edupus.id

# Application Configuration
APP_KEY=edupus.id@#12345
APP_TIMEZONE=Asia/Jakarta
APP_DEBUG=true

# Server Configuration
SERVER_URL=http://localhost
